<style>
  .custom_bg{
    background-color: #093A14;
  }
      ul{
            list-style-type: none;
            display: flex;
        gap: 40px;
      }

      li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
      }

      .marquee {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
         margin: 0px;
         height: 80px;
    }
      .marquee li {
        animation: marquee 5s linear infinite;
      }

   h6{
        font-family: 'Gilroy-ExtraBold';
        font-weight: 400;
        font-size: 48px;
        line-height: 62px;
        color: #ffffff;
        margin: 0px;
        letter-spacing: 0px;
      }

    @keyframes marquee {
      0% {
          transform: translate(0, 0);
      }
      100% {
          transform: translate(-100%, 0);
      }
  }

      .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.75);
        padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
      }

      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
        }
      }

      @media screen and (max-width: 750px) {
        h6{
          font-size: 24px;
        }

        .slide_text_mobile {
          height: 40px;
        }
      }
</style>

<div class="color-{{ section.settings.color_scheme }} gradient custom_bg">
  <div class="section-{{ section.id }}-padding">
    {{ section.settings.custom_liquid }}
    <div>
      <div>
        <ul class="marquee">
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
          <li class="slide_text_mobile">
            <img src="{{ 'Star.png' | asset_url }}" height="25" width="25">
            <h6>Fall in love with skyberry’s</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
